---
import Section from '@/components/Section.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const allPosts = (await getCollection('blog')).sort(
  (a, b) => new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime(),
);
---

<MainLayout title="retosdev">
  <Section>
    <div class="text-center">
      <h1 class="text-4xl font-bold">Blog de <span class="text-sky-600">retosdev</span></h1>
    </div>
  </Section>
  <Section>
    <div class="mt-10 flex flex-col gap-4">
      <ul class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        {
          allPosts.map(post => (
            <li>
              <a
                href={`/blog/${post.id}`}
                class="group flex h-full flex-col gap-y-2 overflow-x-hidden rounded-xl border border-slate-800 bg-slate-800/30 p-4 transition-colors hover:bg-slate-800/60"
              >
                <h2 class="text-lg font-bold text-slate-300 transition-colors group-hover:text-sky-600">
                  {post.data.title}
                </h2>
                <p class="text-sm font-medium text-slate-500">{post.data.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </Section>
</MainLayout>
