---
import Section from '@/components/Section.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import Welcome from '@/sections/home/Welcome.astro';
---

<MainLayout title="retosdev">
  <Section>
    <Welcome />
    <!-- <UserStats/> -->
  </Section>
</MainLayout>
