---
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);
---

<button onclick="alert('click')" class="rounded-lg bg-sky-600 px-4 py-2">
  <slot />
</button>
