---
import HeaderButtonsAuth from './HeaderButtonsAuth.astro';
import Article from './icons/Article.astro';
import Bug from './icons/Bug.astro';
import CodeJson from './icons/CodeJson.astro';
import Discord from './icons/Discord.astro';
import Swords from './icons/Swords.astro';

const pathname = Astro.url.pathname;
---

<header class="fixed z-10 w-full backdrop-blur-[10px]">
  <div class="mx-auto flex max-w-7xl items-center justify-between p-4">
    <div class="flex items-center">
      <a href="/" class="flex items-center justify-center text-2xl font-bold text-white md:mr-10">
        <CodeJson class="mr-2 size-10 text-sky-600" />
        <span>retosdev</span>
      </a>
      <nav class="hidden lg:block">
        <ul class="flex items-center gap-x-2">
          <li>
            <a
              href="/projects"
              class={`flex min-h-[50px] w-full items-center justify-center rounded-2xl border border-transparent px-4 py-2 text-white transition-colors duration-300 hover:border-slate-800 hover:bg-slate-800/30 ${pathname === '/retos' ? 'bg-slate-800/60' : ''}`}
            >
              <Swords class="mr-2 size-6" />
              <span>Retos</span>
            </a>
          </li>
          <li>
            <a
              href="https://github.com/zevwin/retosdev/issues/new"
              target="_blank"
              rel="noopener noreferrer"
              class="flex min-h-[50px] w-full items-center justify-center rounded-2xl border border-transparent px-4 py-2 text-white transition-colors duration-300 hover:border-slate-800 hover:bg-slate-800/30"
            >
              <Bug class="mr-2 size-6" />
              <span>Bugs</span>
            </a>
          </li>
          <li>
            <a
              href="/blog"
              class={`flex min-h-[50px] w-full items-center justify-center rounded-2xl border border-transparent px-4 py-2 text-white transition-colors duration-300 hover:border-slate-800 hover:bg-slate-800/30 ${pathname === '/blog' ? 'bg-slate-800/60' : ''}`}
            >
              <Article class="mr-2 size-6" />
              <span>Blog</span>
            </a>
          </li>
          <li>
            <a
              href="http://discord.com"
              target="_blank"
              rel="noopener noreferrer"
              class="flex min-h-[50px] w-full items-center justify-center rounded-2xl border border-transparent px-4 py-2 text-white transition-colors duration-300 hover:border-slate-800 hover:bg-slate-800/30"
            >
              <Discord class="mr-2 size-6" />
              <span>Comunidad</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <HeaderButtonsAuth />
  </div>
</header>
